.page {
  font-family: var(--f-f), sans-serif;
  background-image: var(--bg-image);
  background-color: var(--color-bg);
  background-attachment: fixed;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-main);
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  padding: 133px 14px;
  max-width: 700px;
  background-color: var(--color-bg);
  font-family: var(--second-f-f), fantasy;
  text-transform: uppercase;
  color: var(--color-accent);
  margin: 100px auto;
  border: 2px solid var(--color-accent);
}

.title {
  margin-top: -7px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  color: var(--color-text);
}

.subtitle {
  margin-top: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  padding: 0 0 100px 0;
}

.cards {
  display: grid;
  justify-items: center;
  justify-self: center;
  grid-template-columns: 1fr;
  gap: 52px;
}

.card {
  background-color: var(--color-bg);
  border: 2px solid var(--color-accent);
  max-width: 700px;
}

.card__title {
  font-size: 18px;
  line-height: 22px;
  padding: 3px 10px 7px;
  font-variation-settings: "wght" var(--font-weight-title);
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}

.card__content {
  position: relative;
  min-height: 370px;
  overflow: hidden;
}

.card__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image_2 {
  filter: grayscale(70%);
}

.image_3 {
  filter: saturate(250%);
}

.image_4 {
  filter: contrast(90%) hue-rotate(25deg) saturate(100%);

}

.image_5 {
  filter: invert(80%);

}

.image_6 {
  filter: sepia(90%);

}

.image_7 {
  filter: blur(10px);

}

.image_8 {
  filter: contrast(30%) hue-rotate(100deg) saturate(200%) blur(1px);
}

.card__label {
  position: absolute;
  text-transform: uppercase;
  opacity: 0.6;
  top: 21px;
  right: 13px;
  font-family: var(--second-f-f), fantasy;
  font-size: 14px;
  text-shadow: 0 0 1px var(--color-bg);
  color: var(--color-text);
}

.card__label-lovercase {
  text-transform: lowercase;
}

.card__text {
  display: grid;
  gap: 27px;
  padding: 22px 22px 0px 25px;
  color: var(--color-accent);
  font-size: 18px;
  line-height: 21px;
  border-top: 2px solid var(--color-accent);
}

.text {
  margin-top: 28px;
}

.card__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 25px 25px 25px 25px;
  gap: 5px;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button {
  position: relative;
  z-index: 1;
  font-size: 14px;
  border: 2px solid var(--color-text);
  font-family: var(--second-f-f), fantasy;
  background-color: var(--color-bg);
  color: var(--color-accent);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button__save {
  padding: 15px 15px;
}

.button__icon {
  width: 23px;
  height: 23px;
}

.button::before {
  position: absolute;
  content: '';
  inset: 0;
  z-index: -1;
  background-color: var(--color-accent);
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--color-text);
}

.button__text,
.button__icon {
  color: var(--color-button);
  mix-blend-mode: difference;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card:nth-child(8) .card__text {
  padding: 0 22px 0 25px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-text);
}

.modal {
  border: 2px solid var(--color-accent, #000000);
  padding: 30px 42px;
  color: var(--color-text, #000000);
  font-family: var(--second-f-f), fantasy;
  background: var(--color-bg);
  max-width: 355px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: auto 17px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--color-black, #000000);
}

.modal__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__text {
  font-size: 14px;
}

.modal__button {
  width: 100%;
}

@media (max-width: 375px) {
  .header {
    padding: 127px 0 120px;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }

  .button__save {
    flex-direction: column;
    margin-top: 0px;
  }

  .text {
    margin-top: 5px;
  }

  .cards {
    gap: 52px;
  }

  .card:nth-child(1) .card__text {
    padding: 25px 22px 20px 25px;
  }

  .card:nth-child(2) .card__text {
    padding: 24px 22px 0px 25px;
  }

  .card:nth-child(5) .card__text {
    padding: 23px 22px 0px 25px;
  }

  .card:nth-child(7) .card__text {
    padding: 25px 22px 0px 25px;
  }

  .card:nth-child(8) .card__text {
    padding: 25px 22px 0px 25px;
  }

  .card:nth-child(8) {
    padding-bottom: 0;
  }

  .card:nth-child(8) button {
    margin-top: 0;
  }

  .button__save {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 17px;
  } 

  .card__title {
    padding-bottom: 5px;
  }

  .card__label {
    top: 24px;
    right: 11px;
  }

  .modal {
    margin: auto;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--color-bg)) or
    (text-stroke: 1px var(--color-bg))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-bg);
    text-stroke: 1px var(--color-bg);
  }
}
